/*------------------------------------*\
    #COMPONENTS-POST
\*------------------------------------*/

/*
 * Post/Pages 
 * Every post article can be wrapped in a container class named `.post` 
 * and used in post layout under _layout folder.
 * Every page content also wrapped in a container named `.page` and used 
 * in page layout under _layout folder. 
 */

.post, .page {
  margin-bottom: 0;
  margin-bottom: 4em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0;
  padding-top: 3em;
  background: $main-bg-color;
  @include border-radius(.2em);
  overflow: hidden;
}

.post:first-of-type {
  padding-top: 0;
}

.post-header {
  border-bottom: 1px solid white;
}

/* Article title / Page title */
.post-title a {
  color: $color-1;
  border-bottom-width: 2px;
}

/* Put some padding arround post images */
.post .post-content img, .page .post-content img {
  padding: 1em 0;
}

.post-content {
  margin-top: 25px;
}

/* Meta info after post-title */
.post-meta {
  color: $gray-light;
  letter-spacing: 1px;
  @include MQ(mobile) {
    font-size: 18px;    
  }
}

/* Related post articles */
.related-posts {
  padding: 1em 0;
  border-top: 1px solid $gray-lighter;
  @include MQ(mobile) {
    padding: 1em 0 1em 0;
  }
}

.related-posts ul {
  list-style: none;
}

.related-posts ul li a {
  &:hover, &:focus {
    small {
      color: inherit; 
    }
  }
}

/*------------------------------------*\
    #COMPONENTS-PAGINATE-BUTTONS
\*------------------------------------*/
/*
 * Paginate buttons used for index page
 *
 */

.pagination {
  display: block;
  padding-bottom: 2em;
  @include MQ(mobile) {
    padding-bottom: 4em;
  }
}

/*------------------------------------*\
    #COMPONENTS-BANNER-IMAGE
\*------------------------------------*/

/*
 *
 * Banner image is the main image for aticle/page.
 * see includes/banner-image.html
 *
 */

.post .banner-image, 
.page .banner-image, 
.post .banner_video, 
.page .banner_video {
  margin: -1em -1em 0 -1em;
  padding-bottom: 1em;
  @include MQ(mobile) {
    margin: -2em -2em 0 -2em;
  }
}