$iphone:     420px; // aka 'Joke' level   
$mobile:     768px; // Basic low end mobile width
$desktop:   1170px; // Just over average phone level
$ultraHD:   1800px; // Self-respecting person's desktop

// media queries

@mixin MQ($canvas) {
  @if $canvas == iphone {
   @media only screen and (max-width: $iphone) { @content; } 
  }
  @else if $canvas == mobile {
   @media only screen and (min-width: $iphone) and (max-width: $desktop) { @content; } 
  }
  @else if $canvas == mobileToUltraHD {
   @media only screen and (min-width: $mobile) and (max-width: $ultraHD) { @content; } 
  }
  @else if $canvas == desktop {
   @media only screen and (min-width: $desktop) and (max-width: $ultraHD) { @content; } 
  }
  @else if $canvas == ultraHD {
   @media only screen and (min-width: $ultraHD) { @content; } 
  }
}